.continer {
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  width: 1200px;
  margin: 0 auto;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 97px;
}

.navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigations_1 {
  margin-right: 29px;
}

a {
  color: #000000;
}

.button-one {
  font-size: 13px;
  border-radius: 3px;
  padding: 10px 18px;
  color: #ffffff;
  background: #EF7F04;
  margin-right: 14px;
}

.button-two {
  font-size: 13px;
  border-radius: 3px;
  padding: 10px 18px;
  color: #ffffff;
  background: #3B3A63;
}
