
// о компании

.jobdescription {
	display: flex;
	margin-bottom: 73px;
	background-color: #FFFFFF;
	border-radius: 3px;
	height: 461px;
	width: 100%;

	&-left {
		display: flex;
		align-items: flex-start;
		width: 51%;
	}

	&-left__img {
		width: 35%;
		padding-top: 46px;
		padding-left: 50px;
	}

	&-left__description {
		align-self: flex-end;
		width: 50%;
		line-height: 22px;
		font-weight: 400;
		color: #000000;
		padding-right: 52px;
		padding-bottom: 52px;
	
		@media screen and (max-width:992px) {
			margin-left: -80px;
		}
	}

	&-right {
		width: 50%;
		background-image: url(../images/jobdescription-img.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.quality {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	@media screen and (max-width:992px) {
		justify-content: center;
	}
}

.qualityblock {
	display: flex;
	width: 30%;
	margin-bottom: 100px;

	@media screen and (max-width:992px) {
		margin-left: 30px;
		width:40%
	}

	&-img {
		width: 25%;
		margin-right: 25px;
	}
}

.qualityblock-description {
	
	&__title {
		color: #2F2F51;
		font-weight: 700;
		padding-bottom: 15px;
		padding-top: 10px;
	}

	&__paragraph {
		font-weight: 400;
		color: #000000;
		line-height: 26px;
		width: 90%;
	}
}

.button-position {
	display: flex;
	justify-content: center;
}